:root {
    --white: #ffff;
    --black: #726C6C;
    --grey: #B5B5B5;
    --btnBlue: #00D0DD;
    --btnBorder: #09A5AF;
    --titleBlack: #5A5757;
    --footerBG: #615959;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.btn-blue {
    display: block;
    padding: 10px 30px;
    background: var(--btnBlue);
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    border-radius: 6px;
    border-bottom: 7px solid var(--btnBorder);
    transition: 500ms;
}

.btn-blue:hover {
    background: black;
    color: white;
    box-shadow: 0 0 15px red;
    border-bottom: 7px solid red;
}

/* ====== HEADER _ START  IZOH CHIQARISH UCHUN 

ctrl + /   

======= */
header {
    background: url("../image/header.jpg") no-repeat center center / cover;
    height: 560px;
    padding-top: 20px;
}

.header .header_nav {
    background: rgba(0, 0, 0, 0.13);
    box-shadow: 0 0 15px black;
}

.header .header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header .menu_top {
    display: flex;
}

.header .menu_top li {
    margin: 0 10px;
}

.header .menu_top li a {
    /* fz18 */
    font-size: 18px;
    color: var(--white);
    font-weight: 500;
}

.header .menu_top li a::after {
    content: "";
    display: block;
    height: 2px;
    background: #00D0DD;
    width: 0;
    transition: 500ms;
}

.header .menu_top li a:hover::after,
.header .menu_top li a:hover {
    width: 100%;
    color: #00D0DD;
}

.header_title {
    margin-top: 70px;
    max-width: 622px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header_title h1 {
    font-size: 80px;
    color: var(--white);
    font-weight: 400;
    margin-bottom: 31px;
}

.header_title p {
    font-size: 20px;
    color: var(--white);
    line-height: 28px;
    margin-bottom: 25px;
}



/* ======= CITY _ START  ======= */
.city {
    padding-top: 40px;
    padding-bottom: 90px;
}

.city .city_top .city_title {
    max-width: 870px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.city .city_top .city_title h2 {
    font-size: 40px;
    font-weight: 500;
    color: var(--black);
    margin-bottom: 23px;
}

.city .city_top .city_title p:first-of-type {
    color: var(--black);
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 10px;
}

.city .city_top .city_title p {
    color: var(--grey);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 23px;
}




.city .city_bottom {
    margin-top: 85px;
}

.city .city_provin .provin_title h2 {
    color: #5A5757;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 40px;
}

.city .city_provin .provin_title p {
    color: var(--grey);
    font-size: 18px;
    font-weight: 400;
}

.city .provin_box {
    padding: 40px 0 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.city .provin_box .box .box_img img {
    display: block;
    max-width: 100%;
    height: 100%;
}

/* POSITIONS */
.city .provin_box .box {
    width: 240px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 30px;
    border-radius: 10px;
}

.city .provin_box .box .box_title {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.308);
    padding: 10px 0;
    transform: translateY(200px);
    transition: 500ms;
}

.city .provin_box .box:hover {
    box-shadow: 10px 10px 50px black;
}

.city .provin_box .box:hover .box_title {
    transform: translateY(0px);
}

.city .provin_box .box .box_title h4 {
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 4px;
}

.city .provin_box .box .box_title p {
    font-size: 12px;
    font-weight: 400;
    color: var(--grey);
}



.provin_btn {
    display: flex;
    justify-content: center;
    text-align: center;
}

.provin_btn .btn-width {
    width: 230px;
}



/* ========= galareya ========= */
.galareya {
    padding-bottom: 90px;
}

.galareya .galareya_title h2 {
    color: var(--titleBlack);
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

.galareya .galareya_title p {
    color: var(--grey);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 33px;
}

.galareya .galareya_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.footer {
    padding: 30px 0;
    background: #615959;
}

.footer .footer_menu {
    display: flex;
    justify-content: space-between;
}

.footer .footer_box h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    color: var(--white);
}

.footer .footer_box ul li {
    margin-bottom: 20px;
    list-style: disc;
    color: white;
}

.footer .footer_box ul li a {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
}

.footer .footer_box ul li a:hover {
    text-decoration: underline;
}









/* 1200px   o'rtacha kompyuterlar */
@media (max-width: 1200px) {}


/* 768px   planshetlar */
@media (max-width: 768px) {
    .container {
        padding: 0 30px;
    }

    .header {
        display: flex;
        flex-direction: column;
    }

    .d-none {
        display: none !important;
    }

    .header .header_menu {
        justify-content: center;
    }

    .header .header_title {
        align-items: center;
        margin: auto;
        text-align: center;
    }

    .header .header_title h1 {
        font-size: 50px;
    }

    .city .city_top .city_title h2 {
        font-size: 30px;
    }


    .provin_box .box img {
        border-radius: 10px;
    }

    .provin_box .box {
        width: calc(100% / 3.2) !important;
    }
    .galareya .galareya_box{
        flex-wrap: wrap;
        justify-content: center;
    }
    .galareya .galareya_box .box{
        margin: 10px;
    }
    .footer .footer_menu{
    
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer .footer_box{
        margin: 20px;
    }
}


/* 540px   telefonlar uchun */
@media (max-width: 540px) {
    .galareya .galareya_box .box img{
        max-width: 100%;
    }
    .city_provin .provin_box .box{
        width: calc(100% / 2.3) !important;
        margin: 10px;
    }
}
/* 540px   telefonlar uchun */
@media (max-width: 350px) {
  
    .city_provin .provin_box .box{
        width: 100% !important;
        margin: 10px;
    }
      .city_provin .provin_box .box img{
        width: 100%;
    }
}